@import "tailwindcss";

@layer base {
  :root {
    /* Primary Colors */
    --warm-beige: #F0E5D8;
    --soft-ivory: #F9F7F2;
    /* Accent Colors */
    --dusty-rose: #D9A7A1;
    --sage-green: #A8BBA8;
    --muted-gold: #D4AF7F;
    /* Emphasis Color */
    --moss-green: #6d7b64;
    /* Secondary Colors */
    --soft-charcoal: #585858;
    --warm-light-gray: #E2E1D8;
    /* Product Card Background Color */
    --product-card-bg: #F3EEE9;
  }

  h1 {
    font-size: var(--text-4xl);
    color: var(--moss-green);
  }
  h2 {
    font-size: var(--text-3xl); 
  }
  h3 {
    font-size: var(--text-2xl); 
  }
  h4 {
    font-size: var(--text-xl);
  }
  p {
    font-size: var(--text-base);
    color: var(--soft-charcoal);
  }

}

body {
  font-family: 'Lato', sans-serif;
  color: var(--soft-charcoal);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
